* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.terms-page {
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
   background: linear-gradient(
    120deg,
    #667eea,
    #764ba2,
    #ff6a88,
    #fbc2eb
  );
  background-size: 400% 400%;
}


.terms-card {
  width: 100%;
  max-width: 850px;
  background-color: white;
  backdrop-filter: blur(18px);
  padding: 60px 60px 70px 60px;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.45);
}

/* Title */
.terms-title {
  color: black;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
}

/* Content */
.terms-content {
  color: black;
  font-size: 1rem;
  line-height: 1.8;
}

.terms-content h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  color: black;
  font-size: 1.1rem;
}

/* Actions */
.terms-actions {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  color: black;
  font-size: 0.95rem;
}

.checkbox input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Button */
.agree-btn {
  padding: 16px 45px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;

  font-weight: 600;
  cursor: pointer;
  background: #007bff;
  color: white;
  transition: all 0.3s ease;
}

.agree-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.agree-btn:hover:enabled {
  transform: translateY(-3px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.45);
}

.agree-btn:active:enabled {
  transform: scale(0.97);
}
