/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Background with animated gradients */
.seller-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    120deg,
    #667eea,
    #764ba2,
    #ff6a88,
    #fbc2eb
  );
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}


/* Glassmorphism card */
.glass-card {
  background: whitesmoke;
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 60px 50px;
  text-align: center;
  max-width: 520px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}


/* Title */
.title {
  font-size: 2.6rem;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.title span {
  color: #007bff;
}

/* Subtitle */
.subtitle {
  font-size: 1.05rem;
  color: black;
  margin-bottom: 40px;
  line-height: 1.6;
}

/* Button */
.start-btn {
  padding: 15px 40px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: #007bff;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

/* Button hover animation */
.start-btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.35);
}

/* Button click */
.start-btn:active {
  transform: scale(0.98);
}
