.seller-table-section {
  margin-top: 50px;
}

.table-wrapper {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  overflow-x: auto;
}

.seller-table {
  width: 100%;
  border-collapse: collapse;
}

.seller-table th {
  text-align: left;
  padding: 14px;
  font-size: 14px;
  color: #6b7280;
  border-bottom: 2px solid #e5e7eb;
}

.seller-table td {
  padding: 14px;
  font-size: 14px;
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
}

.seller-table tr:hover {
  background-color: #f9fafb;
}

.bold {
  font-weight: 600;
  color: #111827;
}

.action{
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.space{
  height: 20vh;
}